* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/* Cellphone */

/* Default styles for all screen sizes */
  

html {
    scroll-behavior: smooth;
  }
  
  body {
    scroll-padding-top: 70px;
  }

nav {
    display:flex;
    justify-content: end;
    min-height:50px;
}

nav a {
    height: 50px;
    color: #6E07F3;
    max-width: 125px;
    border-radius: 20px;
    border: 3px solid #6E07F3;
    margin-top: 20px;
    margin-right: 50px;
    padding-top: 10px;
    font-family: Sulphur Point;
    font-weight: 800;
    font-size: 20px;
    background-color: white;
    text-decoration: none;
    text-align:center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
    background-color: #6E07F3;
    color:white;
    transition-delay: 0.05s;
}

.introduction {
    text-align: center;
    align-items: center;
    min-height: 600px

}

.introduction h1{
    margin-top:125px;
    margin-bottom: 25px;
    font-size: 40px
}

.introduction h2{
    font-weight:normal
}

.avatar__image {
    position: relative;
    max-width: 300px;
    min-height: 300px;
    top: 75px
}





/* About me section */


#about_me p {
    line-height: 2em;
}

.about-me {
    background-color: #6E07F3;
    text-align: center;
    max-width:100%;
    height: 1000px;
    color:white;
    
}

.about-me h2 {
    padding-top: 60px;
    font-size: 1em;
    font-weight: bold;
    font-size: 3em
}

.about-me div {
    margin-top: 65px;
    text-align: center;
    margin-left: 650px;
    margin-right: 650px;
    font-size: 19px;
}

.about-me div p {
    margin-bottom: 15px;
}



/* Expertise Section */



.expertise {
    height:950px;
}

.expertise__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:relative;
    bottom: 300px;
    left: 100px;
    
}

.expertise__column {
    border: 3px solid #6E07F3;
    background-color: white;
    border-radius: 25px;
    text-align:center;
    height: 1100px;
    
}

.design__logo {
    width:50%;
    height: auto
    
}

.frontend__logo {
    width:50%;
    height: auto
}

.expertise__column h3 {
    color:#6E07F3;
    padding-top: 50px;
    font-size: 35px;
    margin-bottom: 40px;
}


.expertise__column p {
    padding: 0 150px;
    margin-bottom:20px;
    font-size: 25px
}


.expertise__column1 {
    margin-right:40px
}

.expertise__column2 {
    margin-right: 200px;
}

.expertise__column div {
    padding-bottom: 50px
}

.frontend__subtitle {
    color:#6E07F3
}

.design__subtitle {
    color:#6E07F3
}


/* My work Section */

.my-work {
    height: 1400px;
    margin: 0 200px;    
}

.my-work__title {
    text-align: center;
    
}

.my-work__title h2 {
    font-size: 40px;
    padding-bottom: 60px;
    color:#6E07F3
}

.my-work__title h3 {
    font-weight: normal;
    font-size: 20px;
    
}

.my-work__first-row,
.my-work__second-row {
    display:flex;
    justify-content: space-around
}

.my-work__first-row {
    padding-top: 150px;
    padding-bottom: 40px;
}

.app {
    width: 450px;
    height: 450px;
    border-radius: 21.63px;
    border: 5px solid #6E07F3;
    text-align: center;
    margin: 0 20px;
    position: relative;
    overflow: hidden;

}

.app img,
.app h3 {
    transition: opacity 0.3s ease-in-out;
}

.app p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #6E07F3;
    font-weight: bold ;
    text-align: center;
    padding: 20px;
    margin: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.app:hover p {
    opacity: 1;
}

.app:hover img {
    opacity: 0.2
}

.app:hover h3 {
    opacity: 0
}

.app h3{
    padding-top: 35px;
}

.my-work__button {
    padding-top: 50px;
    text-align:center;
}

.car__image {
    width: 350px;
    height: auto
}

.book__image {
    margin-top: 10px;
    position:relative;
    bottom: 70px;
    width: 450px;
    height: auto;
}

.movie-and-song__image {
    position: relative;
    top: 60px;
    left: 20px;
    width: 200px;
    height: auto;
}

.pictures__image {
    position:relative;
    bottom: 70px;
    right: 25px;
    width: 500px;
    height: auto;
}

.animals__image {
    position:relative;
    bottom: 20px;
    width: 400px;
    height: auto
}

.Apps__image {
    position:relative;
    top: 20px;
    width: 75%;
}

.my-work__button button {
    border: 3px solid #6E07F3;
    border-radius: 25px;
    padding: 20px 20px;
    font-size: 20px;
    text-decoration: none;
}

.my-work__button a {
    border: 3px solid #6E07F3;
    border-radius: 25px;
    padding: 20px 20px;
    font-size: 20px;
    text-decoration: none; /* Removes underline */
    color: inherit; /* Inherits the color from the parent element */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.my-work__button a:hover {
    background-color: #6E07F3;
    color: white;
    transition-delay: 0.05s;
}


/* Contact Section */



.contact-me{
    margin-top: 50px;
    height: 1000px;
}

.contact__title {
    margin-top: 120px;
    text-align:center;

}

.contact__title h2 {
    color:#6E07F3;
    font-size: 60px;
    margin-bottom: 35px;
}

.contact__title h3 {
    margin: 0px 700px;
    font-size: 22px;
}

.contact-me form {
    margin: 0px 400px;
    font-size: 22px
}

.name__and__email {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    margin-bottom: 200px;
} 

form label{
    color:#6E07F3;
}

.name__and__email input {
    width: 300px;
    height: 60px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #6E07F3;
    text-align:left;
    vertical-align: top;
    padding-top: 5px;
    font-size: 22px;
    margin-top: 5px;

}

.name__and__email input:focus {
    outline: none;
    margin-top: 20px;
    
}


form input::placeholder {
    position:relative;
    text-align:left;
    bottom: 22px;
    font-size: 22px;
}



.message input {
    width: 100%;
    height: 80px;
    font-size: 22px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #6E07F3;
    overflow-y: auto;

}

.message input:focus {
    outline: none
}

.message input::placeholder {
    padding-top: 15px;
}

.submit-div {
    margin-top: 50px;
    text-align: center;
}


.submit-div button {
    width:200px;
    border: 3px solid #6E07F3;
    border-radius: 25px;
    padding: 20px 20px;
    font-size: 25px;
    text-decoration: none;
    background-color: transparent; /* Set the background color to transparent */
    color: inherit; /* Inherits the color from the parent element */
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .submit-div button:hover {
    background-color: #6E07F3;
    color: white;
    transition-delay: 0.05s;
    cursor:pointer;
  }


  @media only screen and (max-width: 600px) {
    /* Styles for screens with a maximum width of 600px (typical for mobile devices) */

    
    .about-me div p {
        position: relative;
        right: 650px;;
        margin: 0 25px;
        
    }

    .expertise {
        width: 100%;
        height: 1050px;
    }
    
    .about-me div {
        position:relative;
        width:100%;
        height: auto;
    }

    .expertise__column {
        position:relative;
        top: 200px;
        width: 250px;
        height: 1100px;
        text-align: center;
    }

    .my-work {
        text-align:center
    }

    .my-work__title {
        position:relative;
        right: 60px;
        width: 320px;
    }

    .expertise__column1 {
        margin-left: 340px;
    }

    .description {
        width: 20px;
    }

    .expertise__column p {
        width: 75vh;
        position: relative;
        right: 100px;
        
    }

    .expertise__container {
        position: relative; 
        height: 1000px;
        width: 260px;
    }   

    .app {
        width: 40vw;
        height: 40vh
    }



    .car__image {
        position:relative;
        top: 20px;
        width: 70%;
        height: auto;
    }

    .book__image {
        position:relative;
        bottom: 10px;
        width: 150px;
        height: auto;
    }

    .pictures__image {
        width: 200px;
        height: auto;
        position:relative;
        bottom: 30px;
    }

    .animals__image {
        width: 150px;
        height: auto;
        position: relative;
        top: 15px;
    }

    .movie-and-song__image {
        width: 80px;
        height: auto;
        position:relative;
        top: 15px;
        left: 10px;
    }

    .my-work__first-row {
        position:relative;
        right: 200px;
        width: 100vw;
    }

    .my-work__second-row {
        position:relative;
        right: 200px;
        width: 100vw;
    }

    .my-work__button {
        width: 50vw;
        position: relative;
        top: 40px;
        right: 50px;
    }

    .my-work {
        height: 1000px;
    }

    .contact__title {
        height: 150px;
    }

    .contact-me {
        height: 900px;
    }

    .contact-me form {
        position: relative;
        right: 390px;
        top: 30px;
    }

    .email input {
        margin-right: 150px;
    }

    .name input {
        margin-right: 10px;
    }

    .message input{
        width: 100vw;
    }

    .submit-div {
        position:relative;
        left: 190px;
    }

    .contact__title h3 {
        width: 100vw;
        height: auto;
        position:relative;
        right: 700px;
    }
  
    /* Add more styles as needed for better mobile presentation */
  }

  @media (max-width: 450px) {

    .introduction h1 {
        font-size: 2em;
        margin-right: 10px;
    }

    .introduction h2 {
        font-size: 1.2em;
    }

    .about-me div p {
        margin-bottom: 20px; /* Adjust the value to set the desired space between paragraphs */
      }


    .about-me {
        min-height: 70em;
    }

    .expertise__container{
        position: relative;
        left: 90px;
        max-width: 1200px;
        font-size: 10px;
        margin:0;
        padding: 0;
    }

    .expertise__column {
        width: 185px;
        position:relative;
        top: 150px;
        right: 90px;
        font-size: 20px;
        height: 900px;
    }

    .expertise__column1{
        margin-right: 10px;
    }
    
    

    .expertise__column p {
        width: 300px;
        margin-bottom:20px;
        margin-left: 40px;
        font-size: 18px;
        padding: 0 90px;
    }
}